<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mercado Libre</title>
    <link rel="stylesheet" href="css/styles.css" type="text/css" >
</head>
<body>
    <div id="marco">
        <h1 id="Título">Mercado Libre</h1>
        <input></input>
        <br>
        <h3>
           <p>Comprá en cuotas y sin tarjeta de crédito</p>
           <br>
           <ul>
            <li>Ofertas</li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
            <br>
            <li>Creá tu cuenta</li>
            <li>Ingresá</li>
            <li>Mis compras</li>
           </ul> 
        </h3>
    </div>
</body>
</html>